.color{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
    div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .col-12:hover{
        background-color: $l1-p4;
        cursor: pointer;
    }
    p{
        font-family: Poppins-Regular;
    }
    h1{
        @include fonts(35px,Poppins-Bold,700,$d3-p4);
    }
}
p{
    font-family: Poppins-Regular;
}

.headers{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    align-items: flex-start;

p{   
    padding-right: 150px;
} 
.hover{
    padding: 0 20px;
}
}
.hover:hover{
    color: white;
    background-color: $p-1;
    cursor: pointer;
}
.p{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: stretch;
    flex-wrap: wrap;
    padding-right: 50px;
    margin-right: 50px;
p{
    @include fonts (14px,Poppins-Regular,100,$d1-p4)
}
}
.list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: flex-start;
    flex-wrap: nowrap;
    ul{
list-style-type: none;
list-style-position: inside;
line-height: 30px;
}
i{
color: $p-1;
padding-right: 10px;
}
li{
    @include fonts (15px,Poppins-Medium,500,$d1-p4);
}
}
.p2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: stretch;
    flex-wrap: wrap;
    padding-right: 50px;

    p{
        @include fonts(20px,Poppins-Medium,500,$d1-p4);
    }
}

.quote{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: nowrap;
    border-left: 3px solid $p-1;
    background-color: $l2-p1;
    margin-left: 20px;

    p{
        @include fonts (17px,Poppins-Regular,100,$d1-p1);
    }
}
input{
    width: 250px;
    height: 50px;
}
.blue:hover{
    border: 2px solid $l1-p1;
}
.blue2:active{
    border: 2px solid $l1-p1;
}
.col-3{
    padding-bottom: 20px;
}
.form-row{
    padding-left: 10px;
    margin-right: 20px;
}
.form-check{
    width: 150px;
    padding-top: 50px;
    
}
.par{
    display: flex;
    align-self: center;
}
.orange{
    background-color: $p-2;
}
.btn-outline-danger{
    color:$p-2;
}
.tabs{
    padding-right: 50px;
}
.pagin{
    padding-right: 350px;
}
.pagination{
    padding-right: 50px;
}
.pagination1{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: space-around;

.page-item1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $d1-p4;
    margin-right: 10px;
}

.page-item1:hover{
    background-color: #fff;
    border: 3px solid $p-1;
    cursor: pointer;
}
}
.popup{
    border: 1px solid $d3-p4;
    p{
    padding: 10px;
}
}

.icons{
    padding-left: 100px;
    i{
        padding-right: 20px;
        color: $l1-p4;
    }
}
.icons2{
    padding-left: 100px;
    i{
        padding-right: 20px;
    }
    .fa-facebook-f{
        color: blue;
    }
    .fa-pinterest-p,.fa-google-plus-g{
        color: red;
    }
}
.ic{
    background-color: $p-1;
    height: 200px;
.icons3{
    padding: 10px;
    i{
        justify-items: center;
        padding-right: 20px;
        color: #fff;
        .circle{
            height: 40px;
            width: 40px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}
.icons4{
    padding: 10px;
    i{
        padding-right: 20px;
        color: #fff;
    }
    .circle1{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: $d2-p1;
    }
}
}
