.yellow{
    color: $p-3;
    font-family: $font-sm; 
    font-size: 15px;
}
.tiny{
    font-size: 15px;
    color: #fff;
}
.open{
    font-size: 10px;
    font-family: OpenSans;
    color: #fff;  
}
.img{
    padding-left: 40px;
}
.burger{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    top:0px;
}
.burger::before{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    top:9px;
}
.burger::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    top:-12px;
}
p{
    font-family: Poppins-Regular;
}

.headers{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    align-items: flex-start;

p{   
    padding-right: 150px;
} 
.hover{
    padding: 0 20px;
}
}
.list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: flex-start;
    flex-wrap: nowrap;
    ul{
list-style-type: none;
list-style-position: inside;
line-height: 30px;
}
i{
color: $p-1;
padding-right: 10px;
}
li{
    @include fonts (15px,Poppins-Medium,500,$d1-p4);
}
}
.p2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: stretch;
    flex-wrap: wrap;
    padding-right: 50px;

    p{
        @include fonts(20px,Poppins-Medium,500,$d1-p4);
    }
}
input{
    width: 250px;
    height: 50px;
}
.blue:hover{
    border: 2px solid $l1-p1;
}
.blue2:active{
    border: 2px solid $l1-p1;
}
.col-3{
    padding-bottom: 20px;
}
.form-row{
    padding-left: 10px;
    margin-right: 20px;
}
.form-check{
    width: 150px;
    padding-top: 50px;
    
}
.par{
    display: flex;
    align-self: center;
}
.icons{
    padding-left: 100px;
    i{
        padding-right: 20px;
        color: $l1-p4;
    }
}
.icons2{
    padding-left: 100px;
    i{
        padding-right: 20px;
    }
    .fa-facebook-f{
        color: $d2-p1;
    }
    .fa-pinterest-p,.fa-google-plus-g{
        color: red;
    }
}
