.rectangle{
    width: 425px;
    height: 415px;
    background-color: $l3-p1;
    position: relative;
    margin-top: 130px;
    img{
        position: absolute;
        top: 65px;
        left: 140px;
    }
    .w{
     @include fonts (27px,$font-b,700,$d1-p1);
     position: absolute;
     top: 85px;
     left: 214px;
    }
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 170px;
    margin-bottom: 50px;
    .site{
        @include fonts (15px,$font-sm,500,$p-1);
    }
} 
.main{
    width: 100%;
    background-color: $p-1;
    background-image: url(../../../img/Vector.png);
    position: relative;
    margin-bottom: 80px;
    .column-1{
        flex-direction: column;
        justify-content: center;
        height: 360px;
        background-color: #fff;
        margin-bottom: 80px;
    }
    .circle{
        position: absolute;
        top: 60px;
    left: 115px;
    .half{
        width: 100px;
        height: 50px; /* as the half of the width */
        background-color: $p-2;
        border-top-left-radius: 60px;  /* 100px of height + 10px of border */
        border-top-right-radius: 60px; /* 100px of height + 10px of border */
        border: 1px solid transparent;
        border-bottom: 0;
        transform: rotate(90deg);
        }
    .half2{
        width: 100px;
        height: 50px; /* as the half of the width */
        background-color: $l1-p2;
        border-top-left-radius: 60px;  /* 100px of height + 10px of border */
        border-top-right-radius: 60px; /* 100px of height + 10px of border */
        border: 1px solid transparent;
        border-bottom: 0;
        transform: rotate(270deg);
        position: absolute;
        top: 0;
        left: -49px;
        }
    }
    img{
        position: absolute;
        top: 70px;
    left: 105px;
    z-index: 1;
    }
    .img1{
        position: absolute;
        top: 60px;
    left: 115px;
    z-index: 1;
    }
    h5{
        text-align: center;
        padding-top: 140px;
    }
    p{
        text-align: center;
        padding: 20px 0;
    }
    button{
        margin-bottom: 80px;
    }
}
.site2{
    @include fonts (15px,$font-base,100,$p-1);
    text-align: center;
}
.procedure{
    text-align: center;
    padding-bottom: 30px;
}
.step{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 360px;
    background-color: #fff;
    margin-bottom: 80px;
    p{
        text-align: center;
    }
    h5{
        padding: 20px 0;
    }
}
.main2{
    background-color: $p-1;
    background-image: url(../../../img/Cloud.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
    height: 500px;

    .p{
        @include fonts (20px,$font-base,100,#fff);
        text-align: center; 
    }
    .off{
        display: flex;
        flex-direction: row;
        background-color: #fff;
        flex-wrap: wrap;
        box-shadow: 0 10px 10px $l1-p4;
        .sale{ 
            display: flex;
            flex-direction: column; 
            align-items: center;
            padding: 25px;
        .percent{
            @include fonts (32px,$font-b,500,$p-2)
        }
        p{
        @include fonts (15px,$font-base,100,$d1-p4);
        }
        .span{
            @include fonts (18px,$font-b,500,$p-1);
        }
    }
        .hl{
            background-color: $l3-p4;
            width: 90%;
        }
        .vl{
            transform: rotate(90deg);
            background-color: $l3-p4;
            width: 90%;
        }
        a{
            text-decoration: none;
        }
    }
    .bg-blue{
        background-color: $p-1;
        padding: 20px;
        left: -95px;
        .cupon{
            border: dashed 2px $d1-p1;
            border-radius: 20px;
            padding: 20px;
            .italic{
                @include fonts(17px,OpenSans-Italic,100,#fff);
                text-align: center;
                padding-top: 50px;
            }
            .bold{
                @include fonts(17px,OpenSans-BoldItalic,500,#fff);
            }
        }
        .scissors{
            border: dashed 2px #fff;
            border-radius: 10px;
            background-color: $d1-p1;
            padding: 10px;
            position: relative;
            img{
                position: absolute;
                top: -15px;
                left: -10px;            
            }
            .baloon{
                position: absolute;
                top: 200px;
                left: 260px;
            }
            .stars{
                position: absolute;
                top: -15px;
                left: 215px;
            }
        }
        .white-p{
            padding-top: 10px;
            text-align: left;
            @include fonts(28px,$font-base,400,#fff);
            position: absolute;
            top: 0;
            left: 70px;
        }
        .bg-yellow{
            padding-top: 10px;
            @include fonts(55px,$font-b,400,$p-3);
            text-align: center;
        }
    }
}
.clients{
    padding-top: 120px;
}
.col-sm-8{
    margin-top: 200px;
}
.column1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
.circle3{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $d1-p3;
    position: relative;
    overflow: hidden;
    img{
        position: absolute;
        top: 16px;
    left: 15px;
    }  
}
p{
    text-align: center;
    @include fonts(14px,$font-base,100,$p-4);
}
.span{
    @include fonts (18px,$font-b,500,$d1-p1);
}
.fading{
    @include fonts(14px,$font-base,100,$l1-p4);
    padding-bottom: 50px;
}
}
