h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
.container-fluid{
    width: 100%;
    background-color: $p-1;
}
.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

h1{
    @include fonts(35px,Poppins-Bold,900,$d3-p4);
}
h2{
    @include fonts(33px,Poppins-Medium,400,$d2-p4);
}
h3{
    @include fonts(27px,Poppins-SemiBold,500,$d3-p4);
}
h4{
    @include fonts(22px,Poppins-Medium,400,$d3-p4);
}
h5{
    @include fonts(17px,Poppins-Medium,400,$d3-p4);
}
h6{
    @include fonts(15px,Poppins-Medium,400,$d3-p4);
}

.p-1{
    background-color: $p-1;
}
.p-2{
    background-color: $p-2;
}
.p-3{
    background-color: $p-3;
}
.p-4{
    background-color: $p-4;
}
.l1-1{
    background-color: $l1-p1;
}
.l2-1{
    background-color: $l2-p1;
}
.l3-1{
    background-color: $l3-p1;
}
.d1-1{
    background-color: $d1-p1;
}
.d2-1{
    background-color: $d2-p1;
}
.d3-1{
    background-color: $d3-p1;
}
.l1-2{
    background-color: $l1-p2;
}
.l2-2{
    background-color: $l2-p2;
}
.l3-2{
    background-color: $l3-p2;
}
.d1-2{
    background-color: $d1-p2;
}
.d2-2{
    background-color: $d2-p2;
}
.d3-2{
    background-color: $d3-p2;
}
.l1-3{
    background-color: $l1-p3;
}
.l2-3{
    background-color: $l2-p3;
}
.l3-3{
    background-color: $l3-p3;
}
.d1-3{
    background-color: $d1-p3;
}
.d2-3{
    background-color: $d2-p3;
}
.d3-3{
    background-color: $d3-p3;
}
.l1-4{
    background-color: $l1-p4;
}
.l2-4{
    background-color: $l2-p4;
}
.l3-4{
    background-color: $l3-p4;
}
.d1-4{
    background-color: $d1-p4;
}
.d2-4{
    background-color: $d2-p4;
}
.d3-4{
    background-color: $d3-p4;
}
.btn-lg{
    display: inline-block;
    width: 100%;
    height: 50px;
}
.btn-sm{
    display: inline-block;
    width: 100%;
}
hr{
    background-color: $l1-p4;
}
span{
    color: $d1-p4;
}
.font{
    font-family: Gabriola;
    color: #fff;
}
.row{
    align-items: center;
    justify-content: space-between;
}
p{
    font-family: Poppins-Regular;
    color: $p-4;
}
.nav{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $p-1;
    position: absolute;
    top:130px;
    p{
        font-family: $font-base;
        color: #fff;
    }
}
button.orange{
    @include button(100px,50px,$p-2,transparent); 
    font-size: 13px;
    font-family: $font-base;
}
button.orange:hover{
    background-color: $l1-p2;
}
button.orange2{
    @include button(100%,40px,$p-2,transparent);
    font-size: 13px;
    font-family: $font-base; 
}
button.orange2:hover{
    background-color: $l1-p2;
}
.btn-outline-danger{
    color:$p-2;
    border: solid 1px $p-2;
}
.btn-outline-danger:hover{
    color:white;
    border: solid 1px $l1-p2;
    background-color: $l1-p2;
}
button.bluebutton{
    @include button(100px,50px,$d1-p1,transparent); 
    font-size: 13px;
    font-family: $font-base;
}
button.bluebutton:hover{
    background-color: $l1-p1;
}
button.bluebutton:checked{
    background-color: $l1-p1;
    box-shadow: 10px 10px 10px $l1-p1;
}
button.bluebutton2{
    @include button(120px,30px,$p-1,transparent); 
    font-family: $font-base;
    font-size: 12px;
}
button.bluebutton2:hover{
    background-color: $l1-p1;
}
button.bluebutton3{
    color:$d1-p1;
    border: solid 1px $d1-p1;
}
button.bluebutton3:hover{
    background-color: $l1-p1;
    border: solid 1px $l1-p1
}
.button-blue{
    @include button(100%,50px,$d1-p1,transparent); 
    font-family: $font-base;
}
button.button-blue:hover{
    background-color: $l1-p1;
    border: $l1-p1 1px solid;
}
.button-blue2{
    @include button(100%,30px,$d1-p1,transparent); 
}
button.button-blue2:hover{
    background-color: $l1-p1;
}
.btn-outline-primary{
    color:$d1-p1;
    border: solid 1px $d1-p1;
}
.btn-outline-primary:hover{
    color:white;
    border: solid 1px $l1-p1;
    background-color: $l1-p1;
}
button.btn-outline-secondary{
    @include button(40px,38px,#fff,transparent);
}
button.btn-outline-secondary:hover{
    color:white;
    border: solid 1px $l1-p1;
    background-color: $l1-p1;
}
.page{
    @include fonts (15px,$font-base,100,#fff);
    text-align: center;
    padding-top: 30px;
}
.white{
    @include fonts(32px,$font-base,400,#fff);
    text-align: center;
    padding-bottom: 50px;
}
.white2{
    @include fonts(30px,$font-base,400,#fff);
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.page2{
    @include fonts (15px,$font-base,100,#fff);
    text-align: center;
}
